body {
  font-family: monospace, monospace;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5rem;
  margin: 0 auto;
  max-width: 720px;
  color: #f0f0f0;
  background-color: #0f0f0f
}

#content {
  margin: 1rem;
}

h1 {
  font-size: 4rem;
}

h1,
h2 {
  line-height: 2rem;
}

img.avatar {
  width: auto;
  float: right;
  vertical-align: text-top;
  display: inline;
  margin-left: 100px;
}


a,
a:visited {
  color: #a19734;
}
